/*====font-Family====*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;500&display=swap');

.header {
    font-family: 'Montserrat', sans-serif;
}

.header__nav {
    font-family: 'Montserrat', sans-serif;
}

.nos__title{
    font-family: 'Montserrat', sans-serif;
}

.depo__p {
    font-family: 'Roboto', sans-serif;
}

.depo__cite{
    font-family: 'Montserrat', sans-serif;
}

/*====Navegação style====*/

.header__nav {
    display: flex;
    gap: 1.5rem;
}
.nav__link {
    text-decoration: none; 
    color: #F0F0F2;
}
.nav__link:hover {
    background-color: #05F29B;
    border-radius: 5px;
    color: #474F59;
}
.nav__link--active { 
    background-color: #05F29B;
    color: #474F59;
    border-radius: 0.3rem;

    text-decoration: none; 
}

/*====HOME====*/

.apresentacao__title {
    font-size: xx-large;
}
.apresentacao__p {
    font-style: italic;
    font-size: larger;
}
/*====Sobre====*/

.nos__title {
    font-size: xx-large;
    color: #05F29B;

    padding: 2%;
}
.nos__p {
    font-size: larger;
    color: #F0F0F2;

    line-height: 1.8;
    text-indent: 2rem;
}
/*====Serviços====*/

.servicos__title{
    font-size: 3rem;
    line-height: 5%;

    padding: 2.5rem;
    font-weight: bold;
}
.servicos__p {
    font-size: 1.5rem;
    padding: 5rem;
    font-style: italic;
}

.grid__item {
    font-size: 1.4rem;
    padding: 1.5rem;

    box-shadow: 2px 2px 6px rgba(0,0,0,0.2); /* sombra individual */
}

.grid__item:hover {
    background-color: #1F2226;
    color: #F0F0F2;
}
.grid__item {
    transition: transform 0.3s ease, background-color 0.3s ease;
}
/*====Depoimentos====*/
.grid__depo {
    background-color: #F0F0F2;
    color: #474F59;
    padding: 2rem;
    border-radius: 5px;

    box-shadow: 2px 2px 8px #989c9b;
    max-width: 350px;
    flex-basis: 100%;
}

.depo__p{
    font-style: italic;
    font-size: 1.1rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}
.depo__cite {
    display: block;
    text-align: right;
    font-weight: bold;
    color: #05F29B;
}


/*====Contatos====*/
.contatos__title{
    text-align: center;
    font-size: 2rem;
    padding: 1.5rem;
}

.contato__informacao{
    font-size: 1rem;
    padding: 1.5rem;
}
/*====Formulário====*/
.dados__label {
    margin-bottom: 0.5rem;
    font: 1.1rem;
    color: #474F59;
}

.dados__campos{
    margin-bottom: 1.5rem;
    padding: 0.8rem;

    border: 1px solid #989c9b;
    border-radius: 5px;
    font-size: 1rem;
}
.dados__botao{
    padding: 0.8rem;
    background-color: #05F29B;

    color: #474F59;
    font-weight: bold;
    border: none;

    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem; 
    transition: background-color 0.3s ease; 
}
.dados__botao:hover {
    background-color: #04d284;
}

